@import 'normalize.css';

body {
  background-color: #F0F8FF;
  color: #2F4F4F;
  margin: 10px;
}

button {
  background-color: #00BFFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4682B4;
}

#debugCheckbox {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  padding: 5px 10px;
}

#debugCheckbox img {
  width: 16px;
  height: 16px;
}

.input-group {
  display: flex;

  margin: 1rem 0;

  flex-direction: row;
  gap: 1rem;

  align-items: center;
}